{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "/css/add_estoque.css" %}'>
    <script src="https://kit.fontawesome.com/cd2bf27834.js" crossorigin="anonymous"></script>
    <title>roupas</title>
</head>
<header>
    <div class="logo">
        Semente de <span>Luz</span></div>
    <ul>
        <li>Home</li><!--página inicial-->
        <li>Cadastros</li><!--Banco de dados-->
        <li>Sobre</li><!--Explicando sobre a ong-->
        <li>Ajuda</li> <!--video yt-->
    </ul>
</header>

    <br>

    <body>
        <h1>Formulário para Roupas</h1>
        <div class="card">

            <div class="textfield">
                <select class="select">
                    <option selected disabled>Selecione</option>
                    <option>Calçado</option>
                    <option>Camiseta</option>
                    <option>Calça</option>
                    <option>Acessório</option>
                </select>

                <br>

                <label for="cor"><i class="fa-solid fa-palette"></i> Cor: </label>
                <input type="text" name="cor" placeholder="Cor da peça">
            </div>

            <div class="textfield">
                <label for="quantidade"><i class="fa-solid fa-weight-scale"></i> Quantidade: </label>
                <input type="text" name="quantidade" placeholder="Quantidade">
            </div>

            <div class="textfield">
                <label for="tamanho"><i class="fa-solid fa-list-ol"></i> Tamanho: </label>
                <input type="text" name="tamanho" placeholder="P / M / G / GG">
            </div>

            <div class="formulario">
                <form class="nmr">
                    <label for="Qualidade"><span><i class="fa-solid fa-list-ol"></i> Qualidade: </span> </label>
                    <input class="formulario" TYPE="RADIO" NAME="OPCAO" VALUE="op1"> 1
                    <input class="formulario" TYPE="RADIO" NAME="OPCAO" VALUE="op2"> 2 
                    <input class="formulario" TYPE="RADIO" NAME="OPCAO" VALUE="op3"> 3 
                    <input class="formulario" TYPE="RADIO" NAME="OPCAO" VALUE="op4"> 4 
                    <input class="formulario" TYPE="RADIO" NAME="OPCAO" VALUE="op5"> 5 
                    <input class="formulario" TYPE="RADIO" NAME="OPCAO" VALUE="op6"> 6 
                    <input class="formulario" TYPE="RADIO" NAME="OPCAO" VALUE="op7"> 7 
                    <input class="formulario" TYPE="RADIO" NAME="OPCAO" VALUE="op8"> 8 
                    <input class="formulario" TYPE="RADIO" NAME="OPCAO" VALUE="op9"> 9 
                    <input class="formulario" TYPE="RADIO" NAME="OPCAO" VALUE="op10"> 10
                </form>
            </div>
            <button class="btn" type="submit">salvar</button>
        </div>
    </body>

    <footer>
        <div class="footer-content">
            <h3>Semente de Luz</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam debitis recusandae fugiat commodi omnis assumenda hic unde eius quidem, sunt aliquid officia voluptas odio veritatis sequi, iusto perferendis maiores obcaecati.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2022 Cetec. designed by <span>Arthur João and Gustavo</span></p>
        </div>
    </footer>

</html>