{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "/css/add_pessoas.css" %}'>
    <script src="https://kit.fontawesome.com/cd2bf27834.js" crossorigin="anonymous"></script>
    <title>funcionarios</title>
<body>
<header>
<div class="logo">
    Semente de <span>Luz</span></div>
<ul>
    <li>Home</li><!--página inicial-->
    <li>Cadastros</li><!--Banco de dados-->
    <li>Sobre</li><!--Explicando sobre a ong-->
    <li>Ajuda</li> <!--video yt-->
</ul>
</header>

<br>

<body>
    <h1>Formulário para Funcionários</h1>

    <form>
        <div class="card">
            
            <div class="textfield">
                <label for="nome"><i class="fa-solid fa-user"></i> Nome: </label>
                <input type="text" name="nome" placeholder="Nome Completo">
            </div>

            <div class="textfield">
                <label for="e-mail"><i class="fa-solid fa-envelope"></i> E-mail: </label>
                <input type="text" name="e-mail" placeholder="E-mail">
            </div>

            <div class="textfield">
                <label for="telefone"><i class="fa-solid fa-phone"></i> Telefone: </label>
                <input type="text" name="telefone" placeholder="Telefone">
            </div>

            <div class="textfield">
                <label for="Data"><i class="fa-solid fa-calendar"></i> Data de Ingressão: </label>
                <input type="date" name="Data" placeholder="Data">
            </div>

            <div class="textfield">
                <label for="vencimento"><i class="fa-regular fa-calendar"></i> Data de Nascimento: </label>
                <input type="date" name="vencimento" placeholder="Data">
            </div>

            <div class="textfield">
                <label for="CPF"><i class="fa-solid fa-hashtag"></i> CPF: </label>
                <input type="text" name="CPF" placeholder="CPF">
            </div>

            <div class="textfield">
                <label for="cep"><i class="fa-solid fa-envelopes-bulk"></i> CEP: </label>
                <input type="text" name="cep" placeholder="CEP">
            </div>

            <div class="textfield">
                <label for="endereco"><i class="fa-solid fa-location-dot"></i> Endereço: </label>
                <input type="text" name="endereco" placeholder="Endereço">
            </div>


            <div class="formulario">
                <label for="Qualidade"><i class="fa-solid fa-venus-mars"></i> Sexo: </label>
                <INPUT class="formulario" type="RADIO" name="OPCAO" value="op1"><i class="fa-solid fa-mars-stroke"></i>  Masculino 
                <INPUT class="formulario" type="RADIO" name="OPCAO" value="op2"><i class="fa-solid fa-venus"></i>  Feminino 
            </div>

            <button class="btn" type="submit">salvar</button>
        </div>
    </form>
</body>

<footer>
    <div class="footer-content">
        <h3>Semente de Luz</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam debitis recusandae fugiat commodi omnis assumenda hic unde eius quidem, sunt aliquid officia voluptas odio veritatis sequi, iusto perferendis maiores obcaecati.</p>
        <ul class="socials">
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2022 Cetec. designed by <span>Arthur João and Gustavo</span></p>
    </div>
</footer>

</html>