{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "/css/cadastro.css" %}'>
    <script src="https://kit.fontawesome.com/cd2bf27834.js" crossorigin="anonymous"></script>
    <title>cadastro</title>
</head>
<body>
    <div class="titulo"><h1>Cadastrar-se</h1></div>
    <form action="estoque/cadastro" method="POST" id="form" class="form"> {% csrf_token %}
    <div class="painel"><!--form-control-->

        {% for field in form %}

        <div class="textfield">
            <label for="nome"><i class="fa-solid fa-user"></i>{{ field.label_tag }}</label>
            {{ field }}
        </div>
        {% endfor %}

        <button class="botao" type="submit">Cadastrar </button>
        </div>     
    </div>
</form>
</div>
</body>
</html>