{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "/css/ver_estoque.css" %}'>
    <script src="https://kit.fontawesome.com/cd2bf27834.js" crossorigin="anonymous"></script>
    <title>ver roupas</title>
</head>
<body>

    <header>
        <div class="logo">
            Semente de <span>Luz</span></div>
        <ul>
            <li>Home</li><!--página inicial-->
            <li>Cadastros</li><!--Banco de dados-->
            <li>Sobre</li><!--Explicando sobre a ong-->
            <li>Ajuda</li> <!--video yt-->
        </ul>
    </header>
    
    <br>
    
    <h1>Roupas</h1>
    <div class="card">
        <div class="geral">
        <div class="card-left">
        <div class="textfield">
            <p><i class="fa-solid fa-shirt"></i> Categoria: </p>
        </div>

        <div class="textfield">
            <p><i class="fa-solid fa-palette"></i> Cor: </p>
        </div> 

        <div class="textfield">
            <p><i class="fa-solid fa-weight-scale"></i> Quantidade: </p>
        </div>

        <div class="textfield">
            <p><i class="fa-solid fa-list-ol"></i> Tamanho: </p>
        </div>

        <div class="textfield">
            <p><i class="fa-solid fa-star"></i> Qualidade: </p>
        </div>
    </div>

    <div class="mid"></div>

    <div class="card-right">
        <input class="text" placeholder="Categoria">
        <input class="text" placeholder="Cor">
        <input class="text" placeholder="Quantidade">
        <input class="text" placeholder="Tamanho">
        <input class="text" placeholder="Qualidade">
    </div>
    </div>
        <button class="btn" type="submit">editar</button>
    </div>
    <footer>
        <div class="footer-content">
            <h3>Semente de Luz</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam debitis recusandae fugiat commodi omnis assumenda hic unde eius quidem, sunt aliquid officia voluptas odio veritatis sequi, iusto perferendis maiores obcaecati.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2022 Cetec. designed by <span>Arthur João and Gustavo</span></p>
        </div>
    </footer>
</body>
</html>