{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "/css/ver.css" %}'>
    <script src="https://kit.fontawesome.com/cd2bf27834.js" crossorigin="anonymous"></script>
    <title>ver funcionarios</title>
</head>
<body>

    <header>
        <div class="logo">
            Semente de <span>Luz</span></div>
        <ul>
            <li>Home</li><!--página inicial-->
            <li>Cadastros</li><!--Banco de dados-->
            <li>Sobre</li><!--Explicando sobre a ong-->
            <li>Ajuda</li> <!--video yt-->
        </ul>
    </header>

    <br>

    <h1>Funcionários</h1>
    <div class="card">
        <div class="geral">
        <div class="card-left">
        <div class="textfield">
            <p><i class="fa-solid fa-user"></i> Nome </p>
        </div>

        <div class="textfield">
            <p><i class="fa-solid fa-envelope"></i> E-mail </p>
        </div>

        <div class="textfield">
            <p><i class="fa-solid fa-phone"></i> Telefone </p>
        </div>

        <div class="textfield">
            <p><i class="fa-solid fa-calendar"></i> Data de Ingressão </p>
        </div>

        <div class="textfield">
            <p><i class="fa-regular fa-calendar"></i> Data de Nascimento </p>
        </div>

        <div class="textfield">
            <p><i class="fa-solid fa-hashtag"></i> CPF </p>
        </div>

        <div class="textfield">
            <p><i class="fa-solid fa-envelopes-bulk"></i> CEP </p>
        </div>

        <div class="textfield">
            <p><i class="fa-solid fa-location-dot"></i> Endereço </p>
        </div>

        <div class="textfield">
            <p><i class="fa-solid fa-venus-mars"></i> Sexo </p>
        </div>
    </div>

    <div class="mid"></div>

    <div class="card-right">
        <input class="text" placeholder="Nome">
        <input class="text" placeholder="E-mail">
        <input class="text" placeholder="Data de Ingressão">
        <input class="text" placeholder="Data de Nascimento">
        <input class="text" placeholder="CPF">
        <input class="text" placeholder="Telefone">
        <input class="text" placeholder="CEP">
        <input class="text" placeholder="Endereço">
        <input class="text" placeholder="Sexo">
    </div>
    </div>
        <button class="btn" type="submit">editar</button>
    </div>
    
    <footer>
        <div class="footer-content">
            <h3>Semente de Luz</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam debitis recusandae fugiat commodi omnis assumenda hic unde eius quidem, sunt aliquid officia voluptas odio veritatis sequi, iusto perferendis maiores obcaecati.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2022 Cetec. designed by <span>Arthur João and Gustavo</span></p>
        </div>
    </footer>
</body>
</html>